.luffy-img {
	margin-left: 500px;
	animation: fadeIn 1s 1s backwards;
}

.luffy-h1 {
	margin-left: 500px;
}

.luffy-button {
	margin-left: 500px;
}

.dancing-luffy{
	animation: fadeIn 1s 1s forwards;
}